.secao{
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    gap: 48px;
    align-items: center;
}

.secao .texto-container{
    max-width: 520px;
}

.secao .texto-container p{
    font-size: 22px;
    line-height: 28px;
}